#titleBar {
  background-color: #000;
  display: block;
  padding-left: 10px;
}

#titleBarContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#titleLogo {
  display: flex;
  flex-direction: row;
}

#titleText {
  color: #FFDC66;
  padding-left: 10px;
}

.searchBarInput {
  font-size: 20px;
  width: 70%;
  display: block;
  margin-left: 5px;
  margin-top: 5px;
}

.singleMoviePreviewContainer {
  display: flex;
  margin: 5px 5px 5px 5px;
  border: solid;
  padding: 2px 2px 2px 2px;
}

.titleAboutConatiner {
  margin: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.overviewPreview {
  text-align: center;
}

#singleMovieContainer {
  margin-top: 3%;
  padding: 2% 2% 2% 2%;
  border: solid;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  display: flex;
}
.singleMoviePoster {
  height: 20rem;
  margin: 2% 2% 2% 2%;
}

.exitSingleMovieButton {
  display: block;
  width: 25px;
  height: 21px;
}

.ratingsContainer {
  display: flex;
  justify-content: space-evenly;
  
}

.feedbackContainer {
  display: flex;
  justify-content: space-around;
}

.ratingsSpan {
  margin: 0px 3px 0px 3px;
}

.ratingsButton {
  height: 21px;
  width: 23px;
}

.githubIcon {
  height: 50px;
  /* margin-left: 100%; */
  /* width: 100%; */
}

#githubIconContainer {
  width: 70%;
  padding-bottom: 0;
  padding-top: 0px;
  text-align: right;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
